exportPattern("^[[:alpha:]]+")
import(stats)
import(ddR)
import(Matrix)
S3method(print, dglm)
S3method(print, summary.dglm)
S3method(summary, dglm)
S3method(predict, dglm)
S3method(residuals, dglm)
S3method(fitted, dglm)
S3method(weights, dglm)
